body {
  background-color: #F8FBFE;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #001A5A;
  margin: 10px;
}

.header__logo {
  width: 145px;
  height: 76px;
}

.header__title {
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 0.5% 3%;
  margin: 0 2%;
  background: #EBEEF1;
  border: 1px solid #001A5A;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.header__time {
  font-size: 50px;
  line-height: 59px;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  max-width: 1338px;
  height: 100%;
  border: 4px solid #001A5A;
  border-radius: 50px;
  margin: 20px auto;
}

main .station {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  font-family: Roboto;
  font-style: normal;
  color: #001A5A;
  line-height: 42px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 36px;
}

main .station__title {
  max-width: 800px;
  border: 1px solid #001A5A;
  border-radius: 15px;
  padding: 0.5% 3%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .station__subtitle {
  margin-top: 10px;
}

main .station__subtitle__empty {
  content: '';
  border-bottom: #001A5A 4px solid;
  border-radius: 150px;
  width: 18%;
  height: 1px;
  left: 41%;
  position: absolute;
  display: block;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .border__for__table {
  margin-top: 25px;
  width: 94%;
  border: 3px solid #001A5A;
  border-radius: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.137));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.137));
}

main .table {
  border-style: none;
  width: 100%;
  height: 260px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

main tbody, main td, main tfoot, main th, main thead, main tr {
  border-bottom-style: none;
}

main tbody td {
  text-align: center;
}

main tbody th {
  font-weight: 500;
}

main thead th {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0 15px;
}

main .buttle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

main .buttle__title {
  max-width: 635px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  border: 1px solid #001A5A;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  color: #001A5A;
  padding: 0.5% 3%;
}

main .buttle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .buttle__wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 146px;
  height: 232px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

main .buttle__wrapper__info__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: 150px;
  margin: -0.2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .buttle__wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #001A5A;
  padding: 1%;
  margin-top: 10px;
}

main .yellow {
  border: 5px solid rgba(209, 201, 2, 0.97);
}

main .yellow__field {
  background: rgba(209, 201, 2, 0.97);
  height: 165px;
}

main .brown {
  border: 5px solid #DBB05D;
}

main .brown__field {
  background: #DBB05D;
  height: 75px;
}

main .orange {
  border: 5px solid #EE7200;
}

main .orange__field {
  background: #EE7200;
  height: 217px;
}

main .red {
  border: 5px solid #E22828;
}

main .red__field {
  background: #E22828;
  height: 140px;
}

footer {
  height: 120px;
  background: #001A5A;
  padding-top: 15px;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F8FBFE;
}
/*# sourceMappingURL=styles.css.map */